<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.capstone.JobR.repository.IGoodMapper">

	<select id="selectId" resultType="com.capstone.JobR.good.GoodVO">
		SELECT * FROM good 
		WHERE id = #{id}
	</select>

	<insert id="insert">
		INSERT INTO good
		(boardNum, id)
		VALUES(#{boardNum}, #{id})
		<!--  = getBoardName(),getBoardCont(), ..                  -->
	</insert>

	<delete id="delete">
		DELETE FROM good
		WHERE boardNum = #{boardNum} AND id = #{id}
	</delete>
	
	<delete id="deleteId">
		set SQL_SAFE_UPDATES = 0;
		DELETE FROM good
		WHERE id = #{id};
		set SQL_SAFE_UPDATES = 1;
	</delete>
	 
</mapper>